/* open-sans-regular - latin */
@font-face { 
    font-family: 'MiFuente'; /* Nombre de la fuente */
    src: url('./fonts/FiraSans-Regular.woff2') format('woff2');
}

select,button,p {
    font-family:"MiFuente", Times, serif; /* Cambia "Arial" por la fuente que prefieras */
}


  
  
  
  
  